<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{personalisation.css}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <title>Add bank account</title>
</head>
<body>
<div th:replace="~{fragment::navbar(profile)}"></div>
<div th:replace="~{fragment::breadcrumb('Add bank account', 'profile')}"></div>

<main class="container w-50 mt-3">

    <a class="btn btn-outline-primary" th:href="@{/profile}"><i class="bi bi-arrow-left-circle"></i> Back to profile</a>

    <div class="alert alert-danger my-2" th:if="${emptyFieldError}">
        No fields should be empty.
    </div>


    <div class="card mt-2" id="add-bank-account-card">

        <div class="card-header">
            Add a new Bank Account
        </div>

        <div class="card-body">
            <form method="post" th:action="@{/addBankAccount}" role="form" th:object="${bankAccount}">
                <div class="mb-3">
                    <label for="iban" class="form-label">IBAN</label>
                    <div class="input-group">
                        <span class="input-group-text"><i class="bi bi-bank"></i></span>
                        <input type="text" name="iban" id="iban" class="form-control" placeholder="IBAN" th:field="*{iban}">
                    </div>
                </div>

                <div class="mb-3">
                    <label for="country" class="form-label">Country</label>
                    <div class="input-group">
                        <span class="input-group-text"><i class="bi bi-flag"></i></span>
                        <input type="text" name="country" id="country" class="form-control" placeholder="country" th:field="*{country}">
                    </div>
                </div>

                <hr>

                <div class="text-center">
                    <button type="submit" class="btn btn-success" id="create-bank-account-btn">Add Bank Account</button>
                </div>

            </form>
        </div>
    </div>
</main>
</body>
</html>