<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{personalisation.css}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <title>New connection</title>
</head>
<body>
<div th:replace="~{fragment::navbar(transfer)}"></div>

<main class="container mt-3 w-75">

    <a class="btn btn-outline-primary" th:href="@{/transfer}"><i class="bi bi-arrow-left-circle"></i> Back to transfer</a>

    <div class="alert alert-danger my-2" th:if="${noUserSelected}">
        You should select a user.
    </div>

    <div class="card bg-body-tertiary mt-2">
        <div class="card-body">
            <form class="row p-4" method="post" role="form" th:action="@{/addConnection}">
                <div class="col">
                    <select class="form-select" aria-label="Select a user" name="selectedUser">
                        <option value="" disabled selected hidden="">Select a user</option>
                        <option th:each="user: ${availableUsers}" th:text="${user.getUsername()}" th:value="${user.getEmail()}">One</option>
                    </select>
                </div>

                <div class="col">
                    <button class="btn btn-success form-control" type="submit">Add connection</button>
                </div>
            </form>
        </div>
    </div>

    <div class="card bg-body-tertiary mt-3">
        <div class="card-body">
            <p>Your current connections : </p>
            <table class="table">
                <thead>
                <tr class="table-dark">
                    <th>Username</th>
                    <th>First name</th>
                    <th>Last name</th>
                    <th>Email</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="relation : ${relations}">
                    <td th:text="${relation.getUsername()}"></td>
                    <td th:text="${relation.getFirstName()}"></td>
                    <td th:text="${relation.getLastName()}"></td>
                    <td th:text="${relation.getEmail()}"></td>
                </tr>
                </tbody>
            </table>
        </div>


    </div>
</main>

</body>
</html>