<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <title>Create new account</title>
</head>
<body>
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            PayMyBuddy
        </a>
    </div>

    <div class="collapse navbar-collapse">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link disabled" th:href="@{/createAccount}">Create an account</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container w-50 mt-4">

    <a class="btn btn-outline-danger mb-3" th:href="@{/login}">Cancel</a>

    <div class="card shadow" id="create-new-account-card">
        <div class="card-body">
            <div class="text-center">
                <h1 class="text-center display-6"><span class="badge bg-success">Pay My Buddy</span></h1>
            </div>

            <p>Create an account</p>

            <div class="alert alert-danger" th:if="${emptyFields}">All fields must be complete</div>

            <form method="post" th:action="@{/createAccount}" role="form" th:object="${newUserCommand}">
                <div class="mb-3">
                    <label for="firstName" class="form-label">Firstname</label>
                    <div class="input-group">
                        <span class="input-group-text"><i class="bi bi-envelope"></i></span>
                        <input type="text" name="firstName" id="firstName" class="form-control" placeholder="Firstname" th:field="*{firstName}">
                    </div>
                </div>

                <div class="mb-3">
                    <label for="lastName" class="form-label">Lastname</label>
                    <div class="input-group">
                        <span class="input-group-text"><i class="bi bi-envelope"></i></span>
                        <input type="text" name="lastName" id="lastName" class="form-control" placeholder="Lastname" th:field="*{lastName}">
                    </div>
                </div>

                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <div class="input-group">
                        <span class="input-group-text"><i class="bi bi-envelope"></i></span>
                        <input type="text" name="email" id="email" class="form-control" placeholder="Email" th:field="*{email}">
                    </div>
                </div>

                <div class="alert alert-danger" th:if="${isEmailExists}">An user account is already associate to this email.</div>

                <div class="mb-3">
                    <label for="userName" class="form-label">Username</label>
                    <div class="input-group">
                        <span class="input-group-text"><i class="bi bi-envelope"></i></span>
                        <input type="text" name="userName" id="userName" class="form-control" placeholder="Username" th:field="*{userName}">
                    </div>
                </div>

                <div class="alert alert-danger" th:if="${isUsernameExists}">Given Username already exists.</div>

                <hr>

                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <div class="input-group">
                        <span class="input-group-text"><i class="bi bi-envelope"></i></span>
                        <input type="password" name="password" id="password" class="form-control" placeholder="Password" th:field="*{password}">
                    </div>
                </div>

                <div class="mb-3">
                    <label for="passwordConfirmation" class="form-label">Confirm password</label>
                    <div class="input-group">
                        <span class="input-group-text"><i class="bi bi-envelope"></i></span>
                        <input type="password" name="passwordConfirmation" id="passwordConfirmation" class="form-control" placeholder="Confirm password<" th:field="*{passwordConfirmation}">
                    </div>
                </div>

                <div class="alert alert-danger" th:if="${arePasswordDifferent}" id="alert-different-password">Both password don't match</div>

                <div class="text-center">
                    <button type="submit" class="btn btn-primary" id="create-account-btn">Create account</button>
                </div>


            </form>

        </div>


    </div>
</div>


</body>
</html>