<nav class="navbar navbar-expand-lg bg-body-secondary" th:fragment="navbar(activeLink)">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <span class="badge bg-success">Pay My Buddy</span>
        </a>
    </div>

    <div class="collapse navbar-collapse">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a th:class="'nav-link ' + ${activeLink == 'home' ? 'active' : '' }" th:href="@{/}">Home</a>
            </li>
            <li class="nav-item">
                <a th:class="'nav-link ' + ${activeLink == 'transfer' ? 'active' : '' }" th:href="@{/transfer}" id="transfer-page-link">Transfer</a>
            </li>
            <li class="nav-item">
                <a th:class="'nav-link ' + ${activeLink == 'profile' ? 'active' : '' }" th:href="@{/profile}">Profile</a>
            </li>
            <li class="nav-item">
                <a th:class="'nav-link ' + ${activeLink == 'contact' ? 'active' : '' }" th:href="@{/addConnection}">Contact</a>
            </li>
            <li class="nav-item">
                <form th:action="@{/logout}" method="post">
                    <input type="submit" value="Logoff" th:class="'nav-link ' + ${activeLink == 'logoff' ? 'active' : '' }">
                </form>
            </li>
        </ul>
    </div>
</nav>

<div class="p-3 bg-body-tertiary" th:fragment="breadcrumb(currentPage, previousPage)">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item" th:if="${currentPage != 'Home'}"><a th:href="@{/}">Home</a></li>
            <li class="breadcrumb-item active" th:if="${currentPage == 'Home'}">Home</li>
            <li class="breadcrumb-item" th:if="${previousPage != ''}"><a th:href="@{/{prev}(prev=${previousPage})}" th:text="${previousPage}"></a></li>
            <li class="breadcrumb-item active" aria-current="page" th:text="${currentPage}" th:if="${currentPage != 'Home'}">Profile</li>
        </ol>
    </nav>
</div>

