<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{personalisation.css}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <title>Transfer Money</title>
</head>
<body>
<div th:replace="~{fragment::navbar(${'transfer'})}"></div>

<div th:replace="~{fragment::breadcrumb(transfer, '')}"></div>

<main class="container mt-3 w-75">
    <div class="row justify-content-between">
        <div class="col-auto align-self-end">
            <p>Send Money</p>
        </div>

        <div class="col-auto">
            <a class="btn btn-primary" th:href="@{/addConnection}" id="add-connection-btn">Add Connection</a>
        </div>
    </div>

    <div class="alert alert-danger my-2" th:if="${hasError}">
        Error during transaction. Please check that all fields are correctly fill.
    </div>

    <div class="alert alert-danger my-2" th:if="${transactionError}">
        You don't have enough money to perform the transaction in this currency.
    </div>

    <div class="card bg-body-tertiary mt-1">
        <div class="card-body">
            <form class="row p-4" method="post" role="form" th:action="@{/sendMoney}" th:object="${transferCommand}">
                <div class="col">
                    <select class="form-select" aria-label="Select a connection" name="toUserId" th:field="*{toUser}" id="to-user-selector">
                        <option value="" disabled selected hidden="">Select a connection</option>
                        <option th:each="relation:${relations}" th:value="${relation.getUserId()}" th:text="${relation.getUsername()}">One</option>
                    </select>
                </div>

                <div class="col">
                    <input type="number" class="form-control" id="transfer-amount" aria-description="transfer-amount" th:field="*{amount}" min="0">
                </div>

                <div class="col">
                    <select class="form-select" aria-label="Select a currency" name="currency" th:field="*{currency}" id="currency-selector">
                        <option value="" disabled selected hidden="">Currency</option>
                        <option th:each="cur: ${allCurrencies}" th:value="${cur}" th:text="${cur.getDisplayValue()}">EUR</option>
                    </select>
                </div>

                <div class="col">
                    <button class="btn btn-success form-control" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" id="pay-button">Pay</button>
                </div>


                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Add a description to the transaction</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <input class="form-control" type="text" value="toto" th:field="*{description}">
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-success">Pay</button>
                            </div>
                        </div>
                    </div>
                </div>

            </form>
        </div>
    </div>

    <div class="card bg-body-tertiary mt-3">
        <div class="card-body">
            <h6>My Transactions</h6>
            <table class="table">
                <thead>
                <tr class="table-success">
                    <th>From</th>
                    <th>To</th>
                    <th>Description</th>
                    <th>Amount</th>
                    <th>Date</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="transaction:${transactions}">
                    <td><span th:text="${transaction.from().getUsername()}" th:classappend="${transaction.from() == connectedUser ? 'badge bg-primary' : ''}">FROM</span></td>
                    <td><span th:text="${transaction.to().getUsername()}" th:classappend="${transaction.to() == connectedUser ? 'badge bg-primary' : ''}">TO</span></td>
                    <td th:text="${transaction.description()}">To</td>
                    <td><span class="badge" th:classappend="${transaction.amount() < 0 ? 'bg-warning' : 'bg-success'}" th:text="${transaction.amount() + transaction.currency().getDisplayValue()}">Amount</span></td>
                    <td th:text="${#temporals.format(transaction.date(), 'dd-MM-yyyy HH:mm')}">To</td>
                </tr>
                </tbody>
            </table>
            <nav class="text-center" aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    <li class="page-item" th:classappend="${currentPage == 1 ? 'disabled' : ''}">
                        <a class="page-link" th:href="@{/transfer(page=${currentPage - 1})}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item" th:each="i: ${#numbers.sequence(1, numberOfPages)}" th:classappend="${currentPage == i ? 'active' : ''}"><a class="page-link" th:href="@{/transfer(page=${i})}" th:text="${i}">1</a></li>
                    <li class="page-item" th:classappend="${(currentPage == numberOfPages ? 'disabled' : '')}">
                        <a class="page-link" th:href="@{/transfer(page=${currentPage + 1})}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

</main>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>